html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.background {
  background-color: black;
}

.game-board {
  margin: 0 auto;
  max-width: 800px;

}

.game-board-img {
  height: 389px;
  width: 800px;
  background: url(./pictures/perfect-blackjack-table-layout.jpg);
  position: relative;
}

#myChart {
  margin: 0 auto;
  max-width: 800px;
}

.place-bet {
  position: absolute;
}

.get-hit {
  position: absolute;
}

.hidden {
  display: none;
}

.playing-cards card {
  height: 23%;
  width: 9%;
  position: absolute;
  background: url(./pictures/back_pc.png) no-repeat;
  background-size: contain !important;
}

.player1 .first {
  top: 44%;
  left: 47%;
}
.player1 .second {
  top: 44%;
  left: 49%;
}
.player1 .third {
  top: 44%;
  left: 51%;
}
.player1 .fourth {
  top: 44%;
  left: 53%;
}
.player1 .fifth {
  top: 44%;
  left: 55%;
}
.player2 .first {
  top: 41%;
  left: 29%;
}
.player2 .second {
  top: 41%;
  left: 31%;
}
.player2 .third {
  top: 41%;
  left: 33%;
}
.player2 .fourth {
  top: 41%;
  left: 35%;
}
.player2 .fifth {
  top: 41%;
  left: 37%;
}
.player3 .first {
  top: 41%;
  left: 66%;
}
.player3 .second {
  top: 41%;
  left: 68%;
}
.player3 .third {
  top: 41%;
  left: 70%;
}
.player3 .fourth {
  top: 41%;
  left: 72%;
}
.player3 .fifth {
  top: 41%;
  left: 74%;
}
.dealer .first {
  top: 10%;
  left: 47%;
}
.dealer .second {
  top: 10%;
  left: 49%;
}
.dealer .third {
  top: 10%;
  left: 51%;
}
.dealer .fourth {
  top: 10%;
  left: 53%;
}
.dealer .fifth {
  top: 10%;
  left: 55%;
}
