@import "style_reset.scss";

.background {
  background-color: black;
}

.game-board {
  margin: 0 auto;
  max-width: 800px;
}

.game-board img {
  // width: 800px;
}

.probability-table {
  list-style: none;
  background-color: white;
}
