html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.background {
  background-color: black;
}

.game-board {
  margin: 0 auto;
  max-width: 800px;
}

.game-board-img {
  height: 389px;
  width: 800px;
  background: url(./pictures/perfect-blackjack-table-layout.jpg);
  position: relative;
}

#myChart {
  margin: 0 auto;
  max-width: 800px;
}

.not-footer {
  margin-top: 25px;
  list-style-type: none;
  height: 100px;
  box-shadow: 0px 500px 0px 500px black;
}
.not-footer a {
  color: white;
  margin: 0 66px;
}

.place-bet {
  position: absolute;
  bottom: 17px;
  right: 163px;
  color: white;
}
.place-bet input[type="submit"] {
    padding: 18px 5px;
    color: transparent;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.get-hit {
  position: absolute;
  bottom: 7px;
  right: 321px;
  width: 82;
}

.get-hit input {
  text-align: center; */
  padding: 7px 6px;
  color: white;
  background-color: rgb(58, 102, 52);
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

input#ai {
  padding: 7px 33px;
}

input#dealer {
  position: absolute;
  bottom: 17px;
  right: 321px;
  padding: 7px 32px;
  padding: 18px 5px;
  color: transparent;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

input#next-round {
  position: absolute;
  bottom: 17px;
  right: 321px;
  padding: 7px 32px;
  padding: 18px 5px;
  color: transparent;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.hidden {
  display: none;
}

.playing-cards card {
  height: 23%;
  width: 9%;
  position: absolute;
  background: url(./pictures/back_pc.png) no-repeat;
  background-size: contain !important;
}

.player1 .first {
  top: 44%;
  left: 47%;
}
.player1 .second {
  top: 44%;
  left: 49%;
}
.player1 .third {
  top: 44%;
  left: 51%;
}
.player1 .fourth {
  top: 44%;
  left: 53%;
}
.player1 .fifth {
  top: 44%;
  left: 55%;
}
.player2 .first {
  top: 41%;
  left: 29%;
}
.player2 .second {
  top: 41%;
  left: 31%;
}
.player2 .third {
  top: 41%;
  left: 33%;
}
.player2 .fourth {
  top: 41%;
  left: 35%;
}
.player2 .fifth {
  top: 41%;
  left: 37%;
}
.player3 .first {
  top: 41%;
  left: 66%;
}
.player3 .second {
  top: 41%;
  left: 68%;
}
.player3 .third {
  top: 41%;
  left: 70%;
}
.player3 .fourth {
  top: 41%;
  left: 72%;
}
.player3 .fifth {
  top: 41%;
  left: 74%;
}
.dealer .first {
  top: 10%;
  left: 47%;
}
.dealer .second {
  top: 10%;
  left: 49%;
}
.dealer .third {
  top: 10%;
  left: 51%;
}
.dealer .fourth {
  top: 10%;
  left: 53%;
}
.dealer .fifth {
  top: 10%;
  left: 55%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid rgb(58, 102, 52);
  width: 650px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 18px;
  right: 25px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
  padding: 25px;
  background-color: rgb(58, 102, 52);
  color: white;
  font-size: 20px;
  position: relative;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 5px 16px;
  padding: 12px;
  background-color: rgb(58, 102, 52);
  color: white;
}

.instructions {
  height: 45px;
  width: 90px;
  background: url(./pictures/instructions-hi.png);
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10px;
  z-index: 1;
  left: 87px;
  top: 62px;
}

#instructions-button {
  background-color: Transparent;
  color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  position: absolute;
  padding: 10px 40px 10px 10px;
  z-index: 2;
  left: 87px;
  top: 62px;
}


#score-board {
  font-size: 18px;
  color: white;
  height: 19px;
  width: 129px;
  background-color: Transparent;
  right: 95px;
  top: 71px;
  position: absolute;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.end-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.end-modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid rgb(58, 102, 52);
  width: 650px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.close-end {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 18px;
  right: 25px;
}

.close-end:hover,
.close-end:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.end-modal-header {
  padding: 25px;
  background-color: rgb(58, 102, 52);
  color: white;
  font-size: 20px;
  position: relative;
}

.end-modal-body {padding: 2px 16px;}

.end-modal-footer {
  padding: 5px 16px;
  padding: 12px;
  background-color: rgb(58, 102, 52);
  color: white;
}

.chip {
  height: 25px;
  width: 25px;
  position: absolute;
}
.chip:hover {
  cursor: pointer;
}
.one {
  left: -343px;
  top: -58px;
}
.five {
  left: -309px;
  top: -42px;
}
.ten {
  left: -276px;
  top: -29px;
}
.twentyfive {
  left: -241px;
  top: -18px;
}
.hundred {
  left: -208px;
  top: -8px;
}
.fivehundred {
  left: -174px;
  top: 0px;
}
.thousand {
  left: -140px;
  top: px;
}
